@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

body{
  background-image: linear-gradient(to left,#501279, #130a0a);
}

#root{
  z-index: 9999;
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #FFACAC;
  top: 38%;
  left: 30%;
  animation-duration: 12s;
  animation-delay: -12s;
  transform-origin: 4vw 3vh;
  box-shadow: -40vmin 0 5.239734787066722vmin currentColor;
}
.background span:nth-child(1) {
  color: #E45A84;
  top: 84%;
  left: 5%;
  animation-duration: 19s;
  animation-delay: -19s;
  transform-origin: 20vw 1vh;
  box-shadow: -40vmin 0 5.135676295968665vmin currentColor;
}
.background span:nth-child(2) {
  color: #E45A84;
  top: 22%;
  left: 6%;
  animation-duration: 33s;
  animation-delay: -48s;
  transform-origin: 6vw 1vh;
  box-shadow: 40vmin 0 5.5977055457125955vmin currentColor;
}
.background span:nth-child(3) {
  color: #FFACAC;
  top: 59%;
  left: 16%;
  animation-duration: 13s;
  animation-delay: -1s;
  transform-origin: -12vw 19vh;
  box-shadow: 40vmin 0 5.602052929260158vmin currentColor;
}
.background span:nth-child(4) {
  color: #FFACAC;
  top: 92%;
  left: 85%;
  animation-duration: 50s;
  animation-delay: -24s;
  transform-origin: 22vw -22vh;
  box-shadow: -40vmin 0 5.492395952281413vmin currentColor;
}
.background span:nth-child(5) {
  color: #583C87;
  top: 5%;
  left: 5%;
  animation-duration: 29s;
  animation-delay: -16s;
  transform-origin: 21vw 25vh;
  box-shadow: -40vmin 0 5.89176058164595vmin currentColor;
}
.background span:nth-child(6) {
  color: #583C87;
  top: 83%;
  left: 67%;
  animation-duration: 39s;
  animation-delay: -2s;
  transform-origin: 6vw -23vh;
  box-shadow: -40vmin 0 5.860201153696735vmin currentColor;
}
.background span:nth-child(7) {
  color: #583C87;
  top: 7%;
  left: 90%;
  animation-duration: 39s;
  animation-delay: -29s;
  transform-origin: 25vw 2vh;
  box-shadow: 40vmin 0 5.26869335171086vmin currentColor;
}
.background span:nth-child(8) {
  color: #FFACAC;
  top: 90%;
  left: 81%;
  animation-duration: 52s;
  animation-delay: -22s;
  transform-origin: 7vw 15vh;
  box-shadow: -40vmin 0 5.792199328956799vmin currentColor;
}
.background span:nth-child(9) {
  color: #E45A84;
  top: 24%;
  left: 7%;
  animation-duration: 22s;
  animation-delay: -29s;
  transform-origin: 5vw 20vh;
  box-shadow: 40vmin 0 5.364850423510919vmin currentColor;
}
.background span:nth-child(10) {
  color: #583C87;
  top: 39%;
  left: 92%;
  animation-duration: 39s;
  animation-delay: -18s;
  transform-origin: -13vw 21vh;
  box-shadow: -40vmin 0 5.505964675486861vmin currentColor;
}
.background span:nth-child(11) {
  color: #583C87;
  top: 17%;
  left: 57%;
  animation-duration: 11s;
  animation-delay: -26s;
  transform-origin: -13vw 11vh;
  box-shadow: -40vmin 0 5.396878828233117vmin currentColor;
}
.background span:nth-child(12) {
  color: #583C87;
  top: 40%;
  left: 90%;
  animation-duration: 25s;
  animation-delay: -31s;
  transform-origin: 5vw -1vh;
  box-shadow: 40vmin 0 5.1359399322831365vmin currentColor;
}
.background span:nth-child(13) {
  color: #E45A84;
  top: 68%;
  left: 31%;
  animation-duration: 8s;
  animation-delay: -10s;
  transform-origin: 6vw 17vh;
  box-shadow: 40vmin 0 5.8334668423439355vmin currentColor;
}

.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

